.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: rgba(white, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    width: 90%;
    display: block;
    transition: all 0.2s;

    @include respond(tab-land) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid $color-primary-dark;

      &:invalid {
        border-bottom: 3px solid $yellow-dark;
      }

      &:valid {
        border-bottom: 3px solid $color-primary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: #999;
    }

    &:focus:invalid {
      border-bottom: 3px solid $yellow-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.2s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }

  // FORM RADIO

  &__radio-group {
    width: 49%;
    display: inline-block;
    position: relative;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    font-size: $default-fsize;
    cursor: pointer;
    padding-left: 4rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary-dark;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    background-color: $color-primary-dark;
  }
}
